.card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: linear-gradient(145deg, #ececec, #f5f5f5);
    border: 1px solid #e1e1e1;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* No hover effect */
.card:hover {
    transform: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Styles for action buttons */
.card-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: linear-gradient(145deg, #f7f7f7, #ddd);
    border-top: 1px solid #e1e1e1;
}

.card-title {
    background-color: #f5f5f5;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    position: relative;
    z-index: 1;
}

.card-content {
    padding: 15px;
    flex-grow: 1;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.card-footer {
    padding: 10px 15px;
    font-size: 16px;
    background: linear-gradient(145deg, #f7f7f7, #ddd);
    position: relative;
    z-index: 1;
}

.card-image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Variants */
.card.primary {
    border-color: #007bff;
}

.card.secondary {
    border-color: #6c757d;
}

.card.info {
    border-color: #17a2b8;
}

.card.success {
    border-color: #28a745;
}
.card.warning {
    border-color: #ffc107;
}

.card.danger {
    border-color: #dc3545;
}

/* Shadows */
.card.shadow-none {
    box-shadow: none;
}

.card.shadow-sm {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card.shadow-md {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.card.shadow-lg {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

/* Rounded corners */
.card.rounded-xs {
    border-radius: 2px;
}

.card.rounded-sm {
    border-radius: 4px;
}

.card.rounded-md {
    border-radius: 8px;
}

.card.rounded-lg {
    border-radius: 16px;
}

.card.rounded-xl {
    border-radius: 32px;
}

.card.rounded-xxl {
    border-radius: 64px;
}

.card.rounded-circle {
    border-radius: 50%;
}

.card.primary .card-title,
.card.primary .card-footer {
    background-color: #007bff;
    color: white;
}

.card.secondary .card-title,
.card.secondary .card-footer {
    background-color: #6c757d;
    color: white;
}

.card.info .card-title,
.card.info .card-footer {
    background-color: #17a2b8;
    color: white;
}

.card.success .card-title,
.card.success .card-footer {
    background-color: #28a745;
    color: white;
}

.card.warning .card-title,
.card.warning .card-footer {
    background-color: #ffc107;
    color: black;
}

.card.danger .card-title,
.card.danger .card-footer {
    background-color: #dc3545;
    color: white;
}
